<!DOCTYPE html>

<html>
  <head>
    <title>MPEG-DASH Media Player</title>
  </head>

  <body>
    <div id="formContainer">
      <form id="uploadForm">
        <input
          type="text"
          name="title"
          id="title"
          placeholder="Enter Video Title"
          required
        />
        <input
          type="text"
          name="author"
          id="author"
          placeholder="Enter Author"
          required
        />
        <input
          type="text"
          name="description"
          id="description"
          placeholder="Enter description"
          required
        />

        <input
          type="file"
          name="mp4File"
          id="mp4File"
          placeholder="Upload mp4 video file"
          accept="video/mp4"
          required
        />
        <button type="submit">Upload</button>
      </form>
      <p id="uploadError" style="display: none">Fail to upload video.</p>
    </div>

    <script>
      document
        .getElementById("uploadForm")
        .addEventListener("submit", async (e) => {
          e.preventDefault();
          console.log("UPLOAD VIDEO ACTIVATED");
          const title = document.getElementById("title");
          const author = document.getElementById("author");
          const description = document.getElementById("description");
          const mp4File = document.getElementById("mp4File");
          const form = document.getElementById("uploadForm");
          const formData = new FormData();
          formData.append("title", title.value);
          formData.append("author", author.value);
          formData.append("description", description.value);
          formData.append("mp4File", mp4File.files[0]);
          //   console.log("formData:", [...formData]);

          try {
            const response = await fetch("/api/upload", {
              method: "POST",
              body: formData,
            });

            const data = await response.json();
            console.log(data);

            // Handle success or error
            if (data.status === "ERROR")
              document.getElementById("uploadError").style.display = "block";
          } catch (error) {
            console.error("Upload failed:", error);
          }
        });
    </script>
  </body>
</html>
